<app-menu></app-menu>
  <div id ="quien"class="container-fluid text-center">
    <h3>Soy Maximiliano Alturria, alumno de la UTN FRA.</h3>
    <img src="./assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  </div>
  
<div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Juego propio: Tipeo</h3>
    <p>El juego propio creado consiste en tipear lo mas rápido posible la palabra indicada. Se ofrecen dos niveles de dificultad: 
      Fácil serán palabras y difícil serán frases.</p>
     <a href="/Juegos/Tipeo" style="font-size: 50px;"><span class="glyphicon glyphicon-send"></span> Probar juego</a>

  </div>
