<div class='back-image logon'>
    <div class="container">
              <div class="form-box">
                <div [hidden]="ocultaInstrucciones">
                    <h1>Instrucciones: </h1>
                    <h4>¡tipea la  palabra lo mas rapido posible! En caso de fallar puedes seguir intentando.</h4><br><br><br>
                    <p><button style="margin-top: 15px;" mat-raised-button color="accent"  (click)='iniciarJuego("Facil")'>Jugar Facil</button></p>
                    <p><button mat-raised-button color="warn" (click)='iniciarJuego("Dificil")'>Jugar Dificil</button></p>
                </div>
                <div [hidden]="!ocultaInstrucciones">
                    <div>
                            <br><br><h2 *ngIf="!reiniciar">Tipea: {{palabra}} - llevas {{segundos}} segundos</h2>
                            <h2 *ngIf="reiniciar">¡¡GANASTE!!</h2> <br><br>
                </div>
                <input type="text" id='inputPalabra' [(ngModel)]="nuevoJuego.ingreso" name="ingreso" required>
                    <button *ngIf="!reiniciar" style="margin-top: 15px;" mat-raised-button color="primary" (click)="juega()"> validar </button>
                    <p><button  *ngIf="reiniciar" style="margin-top: 15px;" mat-raised-button color="accent" (click)='iniciarJuego("Facil")'>Jugar Facil</button></p>
                    <p><button *ngIf="reiniciar" mat-raised-button color="warn" (click)='iniciarJuego("Dificil")'>Jugar Dificil</button></p>
                </div>
              </div>
    </div>
</div>


