form {
    border: 10px solid #f1f1f1;
    padding: 10px;
    background:gray;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(6, 176, 182);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

    div {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #888;
        line-height: 30px;
        text-align: center;
    }
    .form-box {
        margin-top: 5%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .form-top {
        overflow: hidden;
        padding: 0 25px 15px 25px;
        background: #444;
        background: rgba(0, 0, 0, 0.35);
        -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
        text-align: left;
    }
    
    .form-top-left {
        float: left;
        width: 75%;
        padding-top: 25px;
    }
    
    .form-top-left h1 { margin-top: 0; color: #fff; }
    .form-top-left p { opacity: 0.8; color: #fff; }
    
    .form-top-right {
        float: left;
        width: 25%;
        padding-top: 5px;
        font-size: 66px;
        color: #fff;
        line-height: 100px;
        text-align: right;
        opacity: 0.3;
    }
    
    .form-bottom {
        padding: 25px 25px 30px 25px;
        background: #444;
        background: rgba(0, 0, 0, 0.3);
        -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
        text-align: left;
    }
    
    .back-image{
        background-image: url("/assets/imagenes/fondo.png");
        width: 100%;
        height: 75%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }